# git ignore files

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

##Folders
/Pods
/Meiningjia-Shopkeeper
/Meiningjia-Beautician
.DS_Store
.svn/
Podfile.lock
*.orig
mnj-icon@2x.png
mnj-icon@3x.png
